---
- name: "Network | Firewall - Include firewall-related variables"
  ansible.builtin.include_vars:
    file: defaults/network/firewall.yml

- name: "Network | Firewall - Install UFW firewall"
  become: true
  ansible.builtin.package:
    name: ufw
    state: present

- name: "Network | Firewall - Allow SSH connections"
  become: true
  community.general.ufw:
    comment: "Allow SSH connections"
    port: 22
    proto: tcp
    rule: allow

- name: "Network | Firewall - Remove Default OpenSSH rule"
  become: true
  community.general.ufw:
    comment: "Remove Default OpenSSH rule"
    rule: allow
    name: OpenSSH
    delete: true

- name: "Network | Firewall - Allow generic protocols connections out"
  become: true
  community.general.ufw:
    comment: "{{ ufw.comment }}"
    port: "{{ ufw.port }}"
    rule: allow
    direction: out
  loop:
    - comment: "Allow DNS connections out"
      port: 53
    - comment: "Allow NTP connections out"
      port: 123
    - comment: "Allow HTTP connections out"
      port: http
    - comment: "Allow HTTPS connections out"
      port: https
    - comment: "Allow FTP connections out"
      port: ftp
    - comment: "Allow whois connections out"
      port: whois
    - comment: "Allow SMTP (port 25) connections out"
      port: 25
    - comment: "Allow SMTP (port 587) connections out"
      port: 587
    - comment: "Allow DHCP (port 67) connections out"
      port: 67
    - comment: "Allow DHCP (port 68) connections out"
      port: 68
  loop_control:
    loop_var: ufw

- name: "Network | Firewall - Add custom application configuration template"
  become: true
  ansible.builtin.template:
    src: "templates/network/firewall/application.j2"
    dest: "/etc/ufw/applications.d/{{ application.name }}"
    mode: "0644"
  loop: "{{ secure_server_ufw_custom_applications }}"
  loop_control:
    loop_var: application

- name: "Network | Firewall - Ensure custom application is enabled"
  become: true
  ansible.builtin.shell: |-
    /usr/sbin/ufw allow {{ application.name }}
  tags:
    - skip_ansible_lint
  loop: "{{ secure_server_ufw_custom_applications }}"
  loop_control:
    loop_var: application

- name: "Network | Firewall - Configure the kernel to keep connections alive when enabling the firewall"
  become: true
  ansible.posix.sysctl:
    name: net.netfilter.nf_conntrack_tcp_be_liberal
    value: 1
    state: present
    sysctl_set: true
    reload: true

- name: "Network | Firewall - Set UFW firewall default policy then enable firewall"
  become: true
  community.general.ufw:
    state: enabled
    policy: reject


- name: "Network | Firewall - Add iptables log with prefix for psad parsing workload"
  become: true
  ansible.builtin.blockinfile:
    path: /etc/ufw/{{ file }}
    insertbefore: "don't delete the 'COMMIT' line or these rules won't be processed"
    marker: "# {mark} ANSIBLE MANAGED BLOCK {{ file }}"
    append_newline: true
    block: |
      # log all traffic so psad can analyze
      -A INPUT -j LOG --log-tcp-options --log-prefix "[IPTABLES] "
      -A FORWARD -j LOG --log-tcp-options --log-prefix "[IPTABLES] "
  loop:
    - before.rules
    - before6.rules
  loop_control:
    loop_var: file
  notify:
    - Reload ufw service
    - Restart psad service