---
- name: "System | PasswordQuality - Include password-quality-related variables"
  tags: password_quality
  ansible.builtin.include_vars:
    file: defaults/system/password_quality.yml

- name: "System | PasswordQuality - Install libpam-pwquality package"
  become: true
  ansible.builtin.apt:
    name: libpam-pwquality
    state: present

- name: "System | PasswordQuality - Updates password policy"
  become: true
  ansible.builtin.lineinfile:
    path: /etc/pam.d/common-password
    regexp: 'password.*requisite.*pam_pwquality.so'
    line: >
      password        requisite                       pam_pwquality.so
      retry={{ secure_server_password_policy.retry | default(omit) }}
      minlen={{ secure_server_password_policy.minlen | default(omit) }}
      dcredit={{ secure_server_password_policy.dcredit | default(omit) }}
      ucredit={{ secure_server_password_policy.ucredit | default(omit) }}
      lcredit={{ secure_server_password_policy.lcredit | default(omit) }}
      difok={{ secure_server_password_policy.difok | default(omit) }}
      maxrepeat={{ secure_server_password_policy.maxrepeat | default(omit) }}
      {{ "gecoschec" | default(omit) }}
  tags:
    - skip_ansible_lint
